.box-containeer {
  display: flex;
  justify-content: flex-start; /* Box'ları sola yaslamak için */
  flex-wrap: wrap;
  padding: 20px;
}

.box {
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px; /* Box width */
  height: 400px; /* Box height */
  margin: 40px 20px;
  text-align: center;
  position: relative;
}

.box img {
  max-width: 100%;
  height: auto;
}

.box h2 {
  font-size: 22px;
  margin: 10px 0;
}

.info-icon {
  margin-top: 20px; /* Create some space above the icon */
  display: flex;
  justify-content: center;
  gap: 10px; /* Add space between icons */
  position: absolute;
  bottom: 20px; /* Position it at the bottom of the box */
  left: 50%;
  transform: translateX(-50%); /* Center the icons horizontally */
  cursor: pointer;
}

.data {
  display: none;
  font-size: 16px;
  margin: 10px 0;
}

.additional-info {
  font-size: 14px;
  color: #555;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.left-content {
  flex: 1;
  margin-right: 20px;
}

.right-content {
  flex: 2;
  max-width: 70%;
}

.map-container {
  position: relative;
  width: 100%;
  height: 450px;
}

.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  z-index: 10;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
