/* Genel ayarlar */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: var(--header-height);
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
}

/* Header ayarları */
.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: var(--border-color);
    height: var(--header-height);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo img {
    height: 8vw; /* Dinamik boyut için vw kullanıldı */
    max-height: 80px; /* Maksimum yükseklik sınırı */
}

.header .navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.header .navbar a {
    margin: 0 1.5rem;
    font-size: 1.8rem;
    color: #000;
}



/* İçerik bölümü */
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; /* Daha küçük ekranlarda elemanların alt alta gelmesini sağlamak için eklendi */
}

.bus-stop img {
    width: 100%; /* Dinamik genişlik ayarlandı */
    max-width: 500px; /* Maksimum genişlik sınırı */
    height: 400px;
    margin-top: 200px;
}

.bus-stop p {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-size: 3rem; 
}

.rside2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    flex-grow: 1;
    flex-basis: 45%;
    max-height: 200%;
}




.info-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    position: relative;
    max-width: 600px; /* Box daha büyük yapıldı */
    min-height: 400px; 
    margin-top: 200px; /* Bu satır boşluk ekler *//* Minimum yükseklik eklendi */
}

.icon {
    position: absolute;
    width: 40px;
    height: 40px;
}
.iconflag img {
    position: absolute; /* Görseli sayfa üzerinde konumlandırmak için */
    width: 10%; /* Boyutunu büyüttüm */
    height: 10%; /* Boyutunu büyüttüm */
    top: 10px;
    left: 275px; 
    margin-top: 30px; 
}




.icon img {
    width: 100%;
    height: 100%;
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
    
}

.info-content {
    text-align: center;
    padding: 20px; /* İçerik kutusu ile simgeler arasındaki boşluk */
}

.info-content h2 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 50px; 
}


.info-content p {
    font-size: 20px;
    line-height: 1.5;
}

/* Footer */



/* Media Queries for Smaller Screens */
@media screen and (max-width: 1024px) {
    .header .logo img {
        height: 7vw; /* Küçük ekranlarda boyutu biraz küçült */
    }

    .content {
        flex-direction: column; /* Küçük ekranlarda elemanları alt alta diz */
        padding: 10px;
    }

    .bus-stop img {
        max-width: 300px;
    }

    .rside2 {
        max-width: 50%; /* Daha küçük ekranlarda esneklik sağla */
    }

    .frame {
        width: 100%;
    }

    .content-inside-frame {
        padding: 0.5rem;
    }

    .content-inside-frame h3 {
        font-size: 2rem;
    }

    .content-inside-frame p,
    .content-inside-frame a.website-link {
        font-size: 1.5rem;
    }

    .alt_m_logo {
        width: 8vw;
        max-width: 40px;
    }
}

@media screen and (max-width: 762px) {
    .rside2 {
        max-width: 80%; /* Daha küçük ekranlarda esneklik sağla */
    }

    .frame {
        width: 100%;
    }

    .content-inside-frame {
        padding: 0.5rem;
    }

    .content-inside-frame h3 {
        font-size: 2rem;
    }

    .content-inside-frame p,
    .content-inside-frame a.website-link {
        font-size: 1.5rem;
    }

    .alt_m_logo {
        width: 8vw;
        max-width: 40px;
    }
}

@media screen and (max-width: 450px) {
    .rside2 {
        max-width: 100%; /* Daha küçük ekranlarda esneklik sağla */
    }

    .frame {
        width: 100%;
    }

    .content-inside-frame {
        padding: 0.5rem;
    }

    .content-inside-frame h3 {
        font-size: 2rem;
    }

    .content-inside-frame p,
    .content-inside-frame a.website-link {
        font-size: 1.5rem;
    }

    .alt_m_logo {
        width: 8vw;
        max-width: 40px;
    }
}

@media screen and (max-width: 350px) {
    .rside2 {
        max-width: 100%; /* Daha küçük ekranlarda esneklik sağla */
    }

    .frame {
        width: 100%;
    }

    .content-inside-frame {
        padding: 0.5rem;
    }

    .content-inside-frame h3 {
        font-size: 2rem;
    }

    .content-inside-frame p,
    .content-inside-frame a.website-link {
        font-size: 1.5rem;
    }

    .alt_m_logo {
        width: 8vw;
        max-width: 40px;
    }
}
